*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

#header{
    .container{
        padding-top: 50px;
        padding-bottom: 50px;
        .row{
            .col-4{
                a{
                    text-decoration: none;
                    img{
                        width: 210px;
                        height: auto;
                    }
                }
            }

            .col-8{
                display: flex;
                .row{
                    ul{
                        text-decoration: none;
                        display: flex;
                        justify-content: space-between !important;
                        margin: 0px !important;
                        .item-menu{
                            margin-left: 60px;
                            list-style: none;
                            font-size: 20px;
                            position: relative;
                            a{
                                text-decoration: none;
                                position: relative;
                                display: flex;
                                color: black !important;
                                display: inline-block;
                            }

                            a::after{
                                content: "";
                                width: 0%;
                                height: 1px;
                                position: absolute;
                                background-color: black;
                                bottom: -10px;
                                left: 0;
                                transition: all 0.5s;
                              
                            }
                            a:hover:after{
                                width: 100%;
                            }

                            &:hover >#home-menu{
                                visibility: visible;
                                height: 200px;
                                transition: 1s;
                                opacity: 1;
                            }
                        }

                        //nav-barda home altinda subbarlar acilsin xeta var
                        #home{
                            #home-menu{
                                position: absolute;
                                left: -40px;
                                top: 70px;
                                width: 150px;
                                visibility: hidden;
                                height: 0px;
                                opacity: 0%;
                                overflow: hidden;
                                transition: 1s;
                                z-index: 20;
                                background-color: white;
                                text-align: justify;
                               .menu-home{
                                li{
                                    list-style: none;
                                    position: relative;
                                    left: -15px;
                                    a{
                                        text-decoration: none;
                                        color: rgb(128, 125, 125);
                                        position: relative;
                                    }
                                    a::after{
                                        content: "";
                                        width: 0%;
                                        height: 1px;
                                        background-color: gray;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        transition: 0.6s;
                                    }
                                    a:hover:after{
                                        width: 100%;
                                    }
                                    i{
                                        margin-right: 30px;
                                    }
                                }
                               }
                              
                            }
                        }
                    }
                }
            }
        }
    }
}




#filter-flowers{
    ul{
        display: flex;
        li{
            list-style: none;
            margin: 20px;
            font-size: 18px;
            transition:  all .8s;
                &:hover{
                    color: #f34f3f;
                }
        }
    }

    .card-element{
        width: 100%;
        height: 500px;
        &:hover{
            .card-body{
                .add-to{
                    span{
                        opacity: 1 !important;
                        position: absolute;
                        left: 90px;
                        transition: 1s all;
                        &:hover{
                            color: #f34f3f;
                            cursor: pointer;
                        }
                    }
                }
                .prise{
                    span
                    {
                        opacity: 0;
                    }
                }
            }

        }
        .card-img{
            img{
                width: 80%;
                height: 300px;
                margin: 0 auto;
            }
        }
        .card-body{
            text-align: center;

                .prise{
                    span{
                        transition: .5s all;
                  opacity: 1;
                    }
                }

                .add-to{
                    position: relative;
                    span{
                        top: -24px;
                        left: 30px;
                        position: absolute;
                        opacity: 0; 
                    }
                }
        }
    }
}

.active{
    color:#f34f3f ;
}

// #slider-own{
//    #carouselExampleInterval{
// .carousel-inner{
//    .carousel-item{

//        img{
//            height: 600px !important;
//        }
//    }
// }


//    }
// }

.carousel{
    .carousel-inner{
        position: relative;
        .carousel-text{
            position: absolute;
            z-index: 1;
            font-family: 'Playfair Display', serif;
            left: 321px;
            top: 130px;

            img{
                margin-top:40px;
                width: 220px;
            }
            .carousel-title{
                line-height: 70px;
                letter-spacing: 0px;
                font-weight: 400;
                font-size: 80px;
                margin: 0;
                span{color: #f34f3f;}
            }
            .carousel-title-text{
            //    display: none;
                width: 497px;
                height: 88px;
                font-weight: 400;
                font-size: 20px;
                color: rgb(109, 106, 106);
                margin: 0;
                margin-top: 25px;
            }

            .carousel-item{
                transition: 3s;
                img{
                    margin-top: 20px;
                    
                }
            }
            // .carousel-item:hover img{
                // display: none !important;
                // transform: scale(1.5);
            // }
          
        }

        .carousel-item{
            img{
                animation: zoom-in-zoom-out 15s ease infinite;
            }   
            
            }


            
            @keyframes zoom-in-zoom-out {
                0% {
                  transform: scale(1, 1);
                }
                100% {
                  transform: scale(1.3, 1.3);
                }
              }
            }}

//             transition: all 1s;
//             cursor: pointer;

//                 transform:scale(1);
//                 overflow: hidden;
//                 display: none;
//             }
//             &:hover img{
// transform: scale(1.3);
//             }

// }






// .col-lg-12{
//     ul{
//         li{
//             cursor: pointer;
//         }
//     }
// }}}}