* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img-logo {
  width: 250px;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.col-7 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-7 ul .list-item-drop {
  list-style: none;
}

.col-7 ul .list-item-drop a {
  text-decoration: none;
  color: black;
}

.nav-item .nav-link {
  text-decoration: none;
  color: black;
}

.nav-item .dropdown {
  width: 5px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-item .dropdown li a {
  text-decoration: none;
  color: black;
  display: block !important;
}

#filter-flowers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filter-flowers ul li {
  list-style: none;
  margin: 20px;
  font-size: 18px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#filter-flowers ul li:hover {
  color: #f34f3f;
}

#filter-flowers .card-element {
  width: 100%;
  height: 500px;
}

#filter-flowers .card-element:hover .card-body .add-to span {
  opacity: 1 !important;
  position: absolute;
  left: 90px;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#filter-flowers .card-element:hover .card-body .add-to span:hover {
  color: #f34f3f;
  cursor: pointer;
}

#filter-flowers .card-element:hover .card-body .prise span {
  opacity: 0;
}

#filter-flowers .card-element .card-img img {
  width: 80%;
  height: 300px;
}

#filter-flowers .card-element .card-body {
  text-align: center;
}

#filter-flowers .card-element .card-body .prise span {
  -webkit-transition: .5s all;
  transition: .5s all;
  opacity: 1;
}

#filter-flowers .card-element .card-body .add-to {
  position: relative;
}

#filter-flowers .card-element .card-body .add-to span {
  top: -24px;
  left: 30px;
  position: absolute;
  opacity: 0;
}

.active {
  color: #f34f3f;
}

#slider-own #carouselExampleInterval .carousel-inner .carousel-item img {
  height: 600px !important;
}

#selected .dropdown {
  position: relative;
  display: inline-block;
}

#selected .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#selected .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#selected .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

#selected:hover .dropdown-content {
  display: block;
}

#selected:hover .dropbtn {
  background-color: #3e8e41;
}

.col-lg-12 ul li {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */